<!-- Header -->
    <nav id="navbar">
        <div id="logo">
            <a href="/"><img src="./img/logo2.png"  alt="XYZUniversity.com"></a>
        </div>

        <ul>
            <li class="items"><a href="#home">Home</a></li>
            <li class="items"><a href="#courses">Courses</a></li>
            <li class="items"><a href="#campus">Campus</a></li>
            <li class="items"><a href="#about">About Us</a></li>
            <li class="items"><a href="#blog">Blog</a></li>
            <li class="items"><a href="#contact">Contact Us</a></li>
        </ul>
    </nav>
