<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Online Website of XYZ University | XYZUniversity.com</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" media="screen and (max-width: 1000px)" href="css/phone.css">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Chakra+Petch:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   <!--Used For Star-->
</head>
<body>

    <!-- Header -->
    <nav id="navbar">
        <div id="logo">
            <a href="/"><img src="./img/logo2.png"  alt="XYZUniversity.com"></a>
        </div>

        <ul>
            <li class="items"><a href="/">Home</a></li>
            <li class="items"><a href="/courses">Courses</a></li>
            <li class="items"><a href="/campus">Campus</a></li>
            <li class="items"><a href="/about">About Us</a></li>
            <li class="items"><a href="/blog">Blog</a></li>
            <li class="items"><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>


    <!-- Home -->
    <section id="home">
        <h1 class="h-primary">Welcome To XYZ University</h1>

        <p class="p-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis expedita culpa debitis, iste, ullam harum dolore cupiditate.</p>

        <p class="p-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, atque!</p>

        <p class="p-primary">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae. Lorem ipsum dolor sit amet.</p>
    </section>


    <!-- Courses  -->
    <section id="courses">
        <div class="heading">
            <h1 class="h-primary">Courses We Offer</h1>

            <p class="p-primary">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta reprehenderit dignissimos rerum culpa</p>
        </div>


        <div class="row">
            <div class="courses-col">
                <h3 class="h3-primary">Intermediate</h3>

                <p class="p-primary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat obcaecati placeat possimus! Officia perferendis vitae dolorum laborum nemo, iste possimus?Lorem ipsum dolor.</p>
            </div>
            <div class="courses-col">
                <h3 class="h3-primary">Under-Graduation</h3>

                <p class="p-primary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat obcaecati placeat possimus! Officia perferendis vitae dolorum laborum nemo, iste possimus?Lorem ipsum dolor.</p>
            </div>
            <div class="courses-col">
                <h3 class="h3-primary">Post-Graduation</h3>

                <p class="p-primary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat obcaecati placeat possimus! Officia perferendis vitae dolorum laborum nemo, iste possimus?Lorem ipsum dolor.</p>
            </div>
        </div>
    </section>
    

    <!-- campus -->
    <section id="campus">
        <div class="heading">
            <h1 class="h-primary">Our Global Campus</h1>

            <p class="p-primary">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>

        <div class="row">
            <div class="campus-col">
                <img src="img/img21.jpg"  alt="image1">

                <div class="layer">
                    <h3>New Zealand</h3>
                </div>
            </div>
            <div class="campus-col">
                <img src="img/img20.jpg"  alt="image2">

                <div class="layer">
                    <h3>Germany</h3>
                </div>
            </div>
            <div class="campus-col">
                <img src="img/img19.jpg"  alt="image3">

                <div class="layer">
                    <h3>Finland</h3>
                </div>
            </div>
            
        </div>

    </section>


    <!-- Facilities Section -->
    <section id="facility">
        <div class="heading">
            <h1 class="h-primary">Our Facilities</h1>

            <p class="p-primary">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, impedit.</p>
        </div>

        <div class="row">
            <div class="facility-col">
                <img src="img/img1.jpeg" alt="image1">
                <div class="sub-heading">
                    <h3>World Class Library</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, neque?</p>
                </div>
            </div>
            <div class="facility-col">
                <img src="img/img8.jpeg" alt="image2">
                <div class="sub-heading">
                    <h3>Biggest Auditorium</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, laborum?</p>
                </div>
            </div>
            <div class="facility-col">
                <img src="img/img11.jpeg" alt="image2">
                <div class="sub-heading">
                    <h3>Largest Sports Complex</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, expedita?</p>
                </div>
            </div>
        </div>

    </section>


    <!-- Testimonials -->
    <section id="testimonial">
        <h1 class="h-primary">What Our Students Says</h1>
        <p class="p-primary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, dolor.</p>

        <div class="row">
            <div class="testimonial-col">
                <img src="img/img22.jpg" alt="image1">
                <div class="sub-heading">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis itaque quidem aperiam minus? Asperiores.</p>
                    <h3>Name: Selina Kyle</h3>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                </div>
            </div>
            <div class="testimonial-col">
                <img src="img/img23.jpg" alt="image1">
                <div class="sub-heading">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis itaque quidem aperiam minus? Asperiores.</p>
                    <h3>Name: Victor Stone</h3>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                </div>
            </div>
            <div class="testimonial-col">
                <img src="img/img24.jpg" alt="image1">
                <div class="sub-heading">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis itaque quidem aperiam minus? Asperiores.</p>
                    <h3>Name: Barbara Gordon</h3>
                    <div class="star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Call To Action-->
    <section id="cta">
        <h1>Enroll for Our Various Online Courses <br> Anywhere From The World.</h1>

        <a href="/contact"><button class="btn">Contact Us</button></a>
    </section>


    <!-- Footer Section -->
    <section id="footer">
        <h4 class="h-primary">About Us</h4>
        <p class="p-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ipsum consectetur necessitatibus. <br> Iste, quia asperiores. Lorem ipsum dolor sit Lorem ipsum dolor sit amet. </p>

        <div class="icons">
            <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>

        <p class="p-primary">Made with <i class="fa fa-heart"> by Ritish Shah</i></p>
    </section>
</body>
</html>